

/*-------background--------*/
body{
    background: url("../images/IMG_1228.PNG");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment:fixed;
}
.m-body{
    opacity: 0.93 !important;
}
/*-------padding-------*/
.m-padding-tb-mini{
    padding-top: 0.1em !important;
    padding-bottom: 0.1em !important;
}
.m-padding-small{
    padding: 0.5em !important;
}
.m-padding-normal{
    padding: 1em !important;
}
.m-padding-big{
    padding: 3em !important;
}
.m-padding-tb-big{
    padding-top: 2em !important;
    padding-bottom: 2em !important;
}
.m-padding-tb-large{
    padding-top: 4em !important;
    padding-bottom: 4em !important;
}
.m-padding-tb-massive{
    padding-top: 5em !important;
    padding-bottom: 5em !important;
}
.m-padding-lr-big{
    padding-left: 3em !important;
    padding-right: 3em !important;
}
.m-padding-sidebar-normal{
    padding-left: 1em !important;
    padding-right: 1em !important;
    padding-bottom: 1em !important;
}

/*-------margin--------*/
.m-margin-tb-mini{
    margin-top: 0.3em !important;
    margin-bottom: 0.3em !important;
}
.m-margin-top-large{
    margin-top: 3em !important;
}
.m-margin-large{
    margin: 30px 50px 30px 50px;
}


/*-------position--------*/
.m-nav-right{
    position: absolute;
    top: 0;
    right: 0;
}
.m-right-bottom{
    position: fixed;
    right: 0 !important;
    bottom: 0 !important;
    z-index: 1 !important;
}

/*-------mobile--------*/
.m-mobile-show{
    display: none !important;
}
@media screen and (max-width: 768px) {
    .m-mobile-hidden{
        display: none !important;
    }
    .m-mobile-show{
        display: block !important;
    }
}

/*-------text-------*/
.m-text-thin{
    font-weight: 300 !important;
}
.m-text-spaced{
    letter-spacing: 1px !important;
}
.m-text-lined{
    line-height: 1.8 !important;
}
.m-text-opacity-mini{
    opacity: 0.8 !important;
}
.m-text-size-big{
    font-size: 16px !important;
}
.m-font-SimSun{
    font-family: SimSun;
}
.m-font-FZShuTi{
    font-family: SimSun;
}
.m-text{
    font-weight: 300 !important;
    letter-spacing: 1px !important;
    line-height: 1.8 !important;
    margin: 10px 0 10px 0 !important;
}



/*-------display--------*/
.m-inline-block{
    display: inline-block !important;
}

/*----------color---------*/
.m-black{
    color: #333 !important;
}


/*-------container-----------*/
.m-container{
    max-width: 60em !important;
    margin: auto !important;
}

/*-------nav--------*/
.m-shadow-small{
    -webkit-box-shadow: 0 4px 8px rgba(0,0,0,2) !important;
    box-shadow: 0 4px 8px rgba(0,0,0,2) !important;
}

/*-----------login-------------*/
.loginContainer{
    border-radius: 15px;
    background-clip: padding-box;
    margin: 60px auto;
    width: 450px;
    padding: 15px 35px 15px 35px;
    background: aliceblue;
    border: 1px solid #eaeaea;
    box-shadow: 0 0 25px #cac6c6;
}
.loginTitle{
    margin: 10px auto 10px auto;
    text-align: center;
}
.loginButton{
    float: right;
    margin: 0px 10px 0px 10px;
}
.el-form-item__content{
    display: flex;
    align-items: center;
}
.ui.avatar.images svg {
    width: 3.5em !important;
    height: 3.5em !important;
}








/*--------时间轴------------*/
.times {display:block;margin:15px 0;}/*首先，我们要创建一个容器class*/
.times ul {margin-left:25px;border-left:2px solid #ddd;list-style-type:none;}/*利用ul标签的特性，设置外边框左移25px，左边边框是2px粗的实心线，颜色一般要浅一点*/
.times ul li {width:100%;margin-left:-12px;line-height:20px;font-weight:normal;}/*一般情况，通过li标签控制圆点回到时间线上，然后控制要出现的文字大小和是否粗体*/
.times ul li b {width:8px;height:8px;background:#fff;border:2px solid #555;margin:5px;border-radius:6px;-webkit-border-radius:6px;-moz-border-radius:6px;overflow:hidden;display:inline-block;float:left;}/*利用处理加粗以外没有其它特别属性b标签做时间轴的圆点。*/
.times ul li span {padding-left:7px;font-size:12px;line-height:20px;color:#555;}/*设置span标签的属性，让它来做时间显示，加一点边距，使时间显示离时间线远一点*/
.times ul li:hover b {border:2px solid #ff6600;}/*注意这一行，前面的li标签后面加了一个:hover伪属性，意思是鼠标移上来，激活后面的属性，这样可以设置鼠标移动到整个时间范围的时候，时间点和时间显示会变色*/
.times ul li:hover span {color:#ff6600;}/*同上*/
.times ul li p {padding-left:15px;font-size:14px;line-height:25px;}/*这里利用段落标签p做文字介绍*/